{% extends 'base.html.twig' %}


{% block title %}Log in{% endblock %}


{% block header %}
   <div class='container'>
       <div class='row justify-content-center'>
           <div class='col-md-6'>
               
           </div>
       </div>
   </div>
{% endblock %}

{% block body %}
    {# templates/home.html.twig #}
    <div {{ vue_component('Login', { 'companyName': 'ETYH', 'loginTitle': 'ACCESS TO APP', 'loginUser': 'Username', 'loginPass': 'Password' }) }}></div>
{% endblock %}