{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block header %}
   <div class='container'>
       <div class='row justify-content-center'>
           <div class='col-md-6'>
               
           </div>
       </div>
   </div>
{% endblock %}

{% block body %}
    <div {{ vue_component('Login', { 
        'companyName': 'ETYH', 
        'loginTitle': 'ACCESS TO APP', 
        'loginUser': 'Username', 
        'loginPass': 'Password',
        'error': error ? error.message : null,
        'lastUsername': lastUsername
        }) }}>
    </div>
{% endblock %}
